<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>${title}</title>
    <style>
     .CodeMirror {
       min-height: 250px;
       border: 1px solid #EDEDED;
       font-size: 14px;
     }
    </style>
    <!-- CSS  -->
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="dist/css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <div id="index-banner" class="red white-text">
      <div class="section no-pad-bot">
        <div class="container valign">
          <h1 class="header center white-text">${title}</h1>
          <div class="row center">
            <h5 class="header col s12 light white-text text-darken-2">${subtitle}</h5>
            <p class="post-meta"><i style="color: #616161" class="fa fa-clock-o"></i>${publishedOn} <a href="#" style="color: #eee; font-size: 16px;">${authorName}</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="startPosts">
      <div class="row">
        <div class="col s12 m10 offset-m1 l9 offset-l1">
          ${post}

          <div id="editor" style="min-height:250px; width: 100%;min-width: 700px;margin:40px;"></div>
          <div class="hidden red blue green"></div>
          <button id="run-tests" class="waves-effect waves-light btn blue">Run</button>
        </div>
      </div>
    </div>

    <footer class="page-footer red"></footer>

    <script type="text/javascript" id="tests-code">
     window.getTests = function() { return ${code}; };
    </script>
    <script src="./dist/js/all.js" type="text/javascript"></script>

  </body>
</html>
